{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title}}</title>
		<link rel="stylesheet" href="{% static "css/foundation.css" %}">
		<link rel="stylesheet" href="{% static "css/app.css" %}">
		{% block css %}
		{% endblock %}
	</head>
	<body>
		<div class="top-bar">
			<div class="top-bar-left">
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="menu-text">PetBook</li>
					<!-- <li>
	     <a>One</a>
	     <ul class="menu vertical">
	     <li><a href="#">One</a></li>
	     <li><a href="#">Two</a></li>
	     <li><a href="#">Three</a></li>
	     </ul>
	     </li> -->
	     <li><a href="/profile_page/">Profile</a></li>
	     <li><a href="/Pet_reg/">Add Pet</a></li>
	     <li><a href="/new/">New Room</a></li>
	     <li><a href="/dog_people/">Dog People</a></li>
	     <li><a href="/cat_people/">Cat People</a></li>

				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					{% if user.is_authenticated %}
					<!-- <li><a href="/accounts/">{{ user.username }}</a></li> -->
					<!-- <li><a href="/suggestion/">Add Suggestion</a></li> -->
					<li><a href="/logout/">Logout</a></li>
					{% else %}
					<!-- <li><a href="/register/">Register</a></li> -->
					<li><a href="/login/">Log In</a></li>
					{% endif %}
				</ul>
			</div>
		</div>

		{% block content %}
		{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="{% static "js/vendor/jquery.js" %}"></script>
		<script src="{% static "js/vendor/what-input.js" %}"></script>
		<script src="{% static "js/vendor/foundation.js" %}"></script>
		<script src="{% static "js/app.js" %}"></script>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
