{% load static %}
{% include "base.html" %}

{% block content %}
<div>
	{% if user.is_authenticated %}
	<h3 class="text-center">{{ body }}</h3>
	<div class="grid-x medium-offset-2 small-offset-2 large-offset-2">
		<div class="large-10 cell card-info medium-10 small-10">
			<div class="card-info-content">
				<div id="app-6">
					<div v-for="todo in statuses" >
						{% verbatim %}
						<div class="card-info secondary grid-padding-x">
							<div class="card-info-content">
								<img :src="todo.image" width="200"/>
								<h3 class="lead">{{ todo.status }}</h3>
								<p>authored by {{ todo.author }} on {{ todo.crated_on }}</p>
								<p>{{ todo.num_comments }} comment(s)</p>
							</div>
						</div>
						<div class="grid-container grid-padding-x">
							<div class="grid-x grid-padding-x">
								<div v-for="comm in todo.comments" class="large-10 large-offset-2 cell">
									<div class="card-info secondary grid-padding-x">
										<h3 class="lead">{{ comm.comment }}</h3>
										<p>authored by {{ comm.author }} on {{ comm.created_on }}</p>
									</div>
								</div>
								<div class="large-10 large-offset-2 cell">
									<form v-bind:action="'/comment/'+ todo.id+'/'" method="post">
										{% endverbatim %}
										{% csrf_token %}
										{{ comm_form }}
										{% verbatim %}
										<input type="submit" class="button expanded" value="Comment" />
									</form>
								</div>
							</div>
						</div>
						{% endverbatim %}
					</div>
				</div>
				<form action="/home/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form }}
					<input type="submit" class="button" value="Submit"/>
				</form>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
