{% load static %}
{% load auth_extras %}
{% include "base.html" %}


{% block content %}
<div>
	{{ body }}
	{% if user.is_authenticated %}
	{% verbatim %}
	<div class="card-info secondary grid-padding-x">
		<div class="card-info-content">
			<h3 class="lead">{{ todo.suggestion }}</h3>
			<p>authored by {{ todo.author }} on {{ todo.created_on }}</p>
			<p>{{ todo.num_comments }} comment(s)</p>
		</div>
	</div>
	{% endverbatim %}
	{% endif %}
	{% if request.user|has_group:"Has Profiles" %}
	<div>
		<h4>Welcome {{ profile.Profile_fname  }} {{ profile.Profile_lname }} </h4>
		<p>	{{ profile.Profile_bio }}</p>
	</div>
	{% else %}
	<div>
		<h4>If you are seeing this then you need to create a profile</h4>
		<a href="/profile_reg/">Click here to make one.</a>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
