{% load static %}
{% load auth_extras %}
{% include "base.html" %}


{% block content %}
<div>
	{{ body }}
	{% if user.is_authenticated %}
	<div id="app-4">
		<div v-for="todo in pets" >
			{% verbatim %}
			<div class="card-info secondary grid-padding-x">
				<div class="card-info-content">
					<h3 class="lead">{{ todo.pet }}</h3>
					<p>is a {{ todo.breed }} {{ todo.species }}</p>
					<p>They're owned by {{ todo.owner }}</p>
				</div>
			</div>
			{% endverbatim %}
		</div>
	</div> 
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
