{% extends "base.html" %}
{% block content %}
<div class="grid-x grid-padding-x">
	<!-- <div class="large-4 medium-4 small-12 cell"></div> -->
	<div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
		<form action="/edit_bio/" method="post">
			{% csrf_token %}
			<h4 class="text-center">Edit your bio here: {{ prof.profile_fname }}</h4>
			{{ form.errors }}
			{{ form.profile_bio.label_tag }} Current( {{ prof.profile_bio }} )
			{{ form.profile_bio }}
			<input type="submit" class="button expanded" value="Edit" />
		</form>
	</div>
</div>
{% endblock %}
